html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100%;
  background: #f0f3f5;
  display: flex;
}

.content {
  width: 100%;
  height: 100vh;
  background-color: #ffd89d;
  display: flex;
  flex-direction: column;
}
.content > div:last-child {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.Menu {
  position: fixed;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgb(255, 238, 191);
  border: 1px solid #000;
  border-width: 0 0 2px 0;
}
.Menu > div {
  width: 100%;
  margin: 25px;
}

.buttonMenu {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.buttonMenu > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.headList {
  display: flex;
}
.headList > div {
  width: 100%;
  display: flex;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  border-radius: 5px;
  z-index: 1;
}
.buttonList {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: 0px;
}
.buttonList:hover {
  background-color: #fff;
  border: 1px solid #56e279;
  border-width: 0 0 0 4px;
}
.buttonList:focus {
  background-color: #fdcd73;
  outline: none;
}
.buttonList > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c07126;
  border-width: 0 0 1px 0;
}
.buttonList > div:first-child {
  width: 18px;
  max-width: 18px;
  min-width: 18px;
}

.list {
  position: absolute;
  top: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list > div {
  width: 100%;
}

.table {
  background-color: #fff;
}

.hidden {
  display: none;
}

.content > div:first-child {
  width: 100%;
}

/* .headList {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: 0px;
}
.headList > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c07126;
  border-width: 0 0 1px 0;
}

.headList > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headList > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headList > div:first-child {
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  display: flex;
  justify-content: flex-end;
}
 */

.Profil {
  background-color: rgb(252, 228, 122);
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profil {
  width: 100%;
  height: 100%;
}
.Profil > button {
  position: absolute;
  top: 150px;
}


button {
  height: 20px;
}