html,
body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f5a36b; /* f47c5a / f5a36b / 9c4752*/
}
.App {
  background-color: #f5a36b; /* f47c5a / f5a36b / 9c4752*/
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  background-color: #ffe1af;
  height: 100vh;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Menu {
  color: #eeeeee;
  background-color: #9c4752;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logoMenu {
  padding: 0 0 0 20px;
  height: 100%;
  max-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Menu > div {
  margin: 0 10px 0 0;
  width: 300px;
}

.Table {
  height: calc(100vh - 80px);
  max-width: 500px;
  width: 100%;
}
.tableBox {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}
.tableHead {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  width: calc(100% - 6px);
  display: flex;
}
.tableHead > button {
  width: 100%;
  background-color: #f5a36b;
  font-weight: 900;
  border: 1px solid #5a3441;
  border-width: 0 1px 1px 0;
  outline: none;
}
.tableHead > button:first-child {
  border-width: 0 1px 1px 1px;
}
.tableHead > button:focus {
  background-color: #f5a36b;
}
.tableHead > button:hover {
  background-color: #5a3441;
  color: #fff;
}

.TableContent {
  width: 100%;
  height: calc(100vh - 110px);
  overflow-y: scroll;
  user-select: none;
}
.TableContent > div {
  display: flex;
  width: 100%;
  border: 1px solid #5a3441;
  border-width: 0 0 1px 0;
}
.TableContent > div:hover {
  background-color: #5a3441;
  color: #ffe1af;
}
.TableContent > div > div {
  word-wrap: break-word;
  word-break: break-all;
  padding: 5px 0;
  width: 100%;
  border: 1px solid #5a3441;
  border-width: 0 1px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.TableContent > div > div:first-child {
  border-width: 0 1px;
}

.tableSearch {
  height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}
.tableSearch > input {
  border: 0;
  outline: none;
  border-radius: 3px;
  padding: 0 0 0 10px;
  height: 65%;
  color: #5a3441;
  background-color: #eee;
}
.tableSearch > input:focus {
  background-color: #fff;
  color: #5a3441;
  border: 1px solid #5a3441;
}




.Profile {
  background-color: #5a3441;
  height: 100%;
  min-height: 520px;
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileBox {
  background-color: #9c4752;
  width: 80%;
  min-width: 250px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  margin: 10px;
}
.headProfile {
  height: 100%;
  max-height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.headProfile > button {
  background-color: rgba(255, 255, 255, 0);
  color: #5a3441;
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: 900;
  font-size: 14px;
}
.contentProfile {
  height: 100%;
}
.contentBoxProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}
.contentBox {
  width: 100%;
  height: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.avatar {
  border: 2px solid #fff;
  background-color: #b4b4b4;
  width: 100%;
  max-width: 80px;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.mainProfile {
  border: 1px solid #5a3441;
  max-width: 80%;
  height: 300px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}
.mainProfile > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.mainHeadProfile {
  min-height: max-content;
}
.headDesc {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a3441;
  border: 1px solid #5a3441;
  color: #f5a36b;
  font-weight: 700;
}

.mainProfile > div > div {
  color: #ffe1af;
}
.mainProfile > div > div:first-child {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  color: #fff;
}
.descriptProfile {
  color: #f5a36b;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}
.descriptProfile > div {
  width: 100%;
  height: 100%;
  min-height: max-content;
  border: 1px solid #000;
  border-width: 0 0 1px 0;
  padding: 5px 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
}
.descriptProfile > div > div {
  width: 100%;
  padding: 0 5px;
}
.descriptProfile > div > div:last-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #ffe1af;
}
.descriptProfile > div > div:first-child {
  color: #fff;
}

.hidden {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #ffe1af;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5a3441;
}
