html,
body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.App {
  background-color: #ffe1af; /* f47c5a / f5a36b / 9c4752*/
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  background-color: #f5a36b;
  height: 100vh;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Menu {
  color: #eeeeee;
  background-color: #9c4752;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logoMenu {
  padding: 0 0 0 20px;
  height: 100%;
  max-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Menu > div {
  width: 300px;
}

.Table {
  height: calc(100vh - 50px);
  max-width: 500px;
  width: 100%;
}
.tableBox {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}
.tableHead {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  width: calc(100% - 6px);
  display: flex;
}
.tableHead > button {
  width: 100%;
}
.tableName {
}
.tableSpecies {
}
.tableHouse {
}

.row {
}

.TableContent {
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}
.TableContent > div {
  display: flex;
  width: 100%;
}
.TableContent > div > div {
  width: 100%;
  border: 1px solid #000;
  border-width: 0 1px 0 0;
}

.Profile {
  background-color: #5a3441;
  height: 100%;
  min-height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.profileBox {
  background-color: #9c4752;
  width: 80%;
  min-width: 250px;
  height: 80%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 14px;
  margin: 10px;
}
.headProfile {
  height: 100%;
  max-height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.headProfile > button {
  background-color: rgba(255, 255, 255, 0);
  color: #5a3441;
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: 900;
  font-size: 14px;
}
.contentProfile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.avatarBox {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  border: 2px solid #fff;
  background-color: #b4b4b4;
  width: 100%;
  max-width: 80px;
  height: 80px;
  max-height: 80px;
  min-height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  overflow: hidden;
}
.mainProfile {
  border: 1px solid #5a3441;
  border-radius: 8px;
  color: #fff;
  width: 70%;
  max-width: 300px;
  min-height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainProfile > div {
  margin: 5px 0;
  display: flex;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainProfile > div > div:first-child {
  width: 50px;
  border: 1px solid #5a3441;
  border-width: 0 1px 0 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px 0 0;
}
.mainProfile > div > div {
  padding: 0 0 0 10px;
}

.hidden {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #ffe1af;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5a3441;
}
